<!-- General about -->
<div class="brand">
  <img src="./imgs/gatoCalavera.svg" alt="" />
  <div class="brand-contents">
    <h1 class="alt-font">Sobre nosotros</h1>
    <p>
      Somos una empresa mexicana apasionada por el diseño y la moda urbana, enfocada en crear prendas y
      accesorios dirigidos para la comunidad furry. Creemos que la ropa es una forma de expresión, por lo que
      nos especializamos en diseños discretos y elegantes que permiten a cada persona llevar su identidad con
      orgullo y confianza.
    </p>
    <p>
      Nuestro compromiso va más allá de la moda: buscamos impulsar una comunidad vibrante y acogedora,
      colaborando con artistas y creadores del fandom para ofrecer productos que realmente representen sus
      valores y estilo de vida. Además, nos esforzamos por adoptar prácticas responsables con el medio
      ambiente, asegurando que nuestros productos no solo sean únicos, sino también sostenibles.
    </p>
  </div>
</div>
<!-- Mision -->
<div class="brand reversed">
  <img src="./imgs/" alt="" />
  <div class="brand-contents">
    <h1 class="alt-font">Mision</h1>
    <p>
      Brindar a la comunidad furry prendas y accesorios urbanos con diseños sutiles y discretos, fusionando
      estilo y comodidad para que cada persona pueda expresar su identidad de manera auténtica. Nos enfocamos
      en ofrecer productos de alta calidad que representen la esencia de nuestros clientes mientras promovemos
      la inclusión y el respeto dentro de nuestra comunidad.
    </p>
  </div>
</div>
<!-- Vision -->
<div class="brand">
  <img src="./imgs/" alt="" />
  <div class="brand-contents">
    <h1 class="alt-font">Vision</h1>
    <p>
      Ser la marca de referencia en ropa urbana para la comunidad furry, destacándonos por nuestra
      creatividad, calidad y compromiso con la diversidad. Aspiramos a expandir nuestra presencia en el
      mercado, innovando constantemente en diseños y materiales, y fortaleciendo una comunidad donde la
      autoexpresión y el sentido de pertenencia sean prioritarios.
    </p>
  </div>
</div>
<!-- Objetivo -->
<div class="brand reversed">
  <img src="./imgs/" alt="" />
  <div class="brand-contents">
    <h1 class="alt-font">Objetivos</h1>
    <ul>
      <li>Crear productos de calidad que combinen diseño, comodidad y durabilidad.</li>
      <li>Expandir nuestra línea de productos con nuevas colecciones y accesorios innovadores.</li>
      <li>Fomentar una comunidad inclusiva, colaborando con artistas y creadores dentro del fandom furry.</li>
      <li>Implementar prácticas sostenibles en nuestros procesos de producción y empaques.</li>
      <li>
        Establecer presencia en plataformas digitales y eventos para fortalecer nuestra conexión con el
        público.
      </li>
    </ul>
  </div>
</div>
