<!-- Contact form -->
<div class="contact-form">
  <img src="./imgs/gatoCalavera.svg" alt="" />
  <div class="contact-form-contents">
    <h1 class="alt-font">Contactanos</h1>
    <form action="/contact-form" method="POST">
      <div class="form-group">
        <label for="name">Nombre *</label>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico *</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="form-group">
        <label for="phone">Teléfono *</label>
        <input type="tel" id="phone" name="phone" required />
      </div>
      <div class="form-group">
        <label for="message">Mensaje *</label>
        <textarea id="message" name="message" rows="5" required></textarea>
      </div>
      <div class="form-group">
        <p>* Campos obligatorios</p>
      </div>
      <div class="form-group submit">
        <button type="submit" class="alt-font">Enviar</button>
      </div>
    </form>
  </div>
</div>
