* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.alt-font-kaushan {
  font-family: "Kaushan Script", serif;
  font-weight: 400;
  font-style: normal;
}

.alt-font-knewave {
  font-family: "Knewave", serif;
  font-weight: 400;
  font-style: normal;
}
